.all .Longimg{
    width: 650px;
    height: 350px;
    float: right;
}
.all .Shortimg{
    width: 350px;
    height: 350px;
    object-fit: cover;

}
.all p{
    width:750px;
    float: left;
    text-align: left;
}

.Ban img{
    margin: 0 20px 20px 0;
    ;
}
.Ban .DataImg{
    width: 400px;
    object-fit: cover;
    float: left;

}
.Ban .Fbuser{
    width: 600px;
    float: right;
}
.Ban .rankimg{
    width: 650px;
    height: 650px;
}
.Ban .mainimg{
    width: 1050px;
    height: 700px;

}