.all .Longimg{
    width: 650px;
    height: 350px;
    float: right;
}
.all .Shortimg{
    width: 350px;
    height: 350px;
    object-fit: cover;

}
.all p{
    width:750px;
    float: left;
    text-align: left;
}

.Ban img{
    height: 400px;
}
.Ban .DataImg{
    width: 400px;
    object-fit: cover;
    float: left;
}
.Ban .Fbuser{
    width: 700px;
    float: right;
}