@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Secular+One&display=swap');

@import url('https://webfontworld.github.io/sunn/SUIT.css');



/*미디어 쿼리 모니터*/
@media screen and (min-width:769px) and (max-width: 1040px) {

    .AboutMe .Moniter{
      width: 100%;
      margin: 0 auto;
        margin-top: 80px;
    }
    .AboutItem .Moniter{

        width: 100%;
    }
    .AboutItem ul {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(6, auto);
      font-size: 30px;
    width: 91%;
      line-height: 15px;
      margin: 0 auto;
    }

    .AboutItem ul li .email{
        position: relative;
        font-size: 20px;
        bottom: 5px;
    }
    .AboutItem ul li span{
        position: relative;
        left: 20px;

    }
    .AboutItem ul li .phone{
        position: relative;

    }
    .AboutItem.Moniter ul li p {
        position: relative;
        bottom: 18px;
        left: 20px;

    }
    .AboutMe.Moniter .Aboutfooter {
      position: relative;
      bottom: 70px;
    }
    .Skills.Moniter {
        height: 1700px;
        width: 100%;
      }
      .SkillsItem.Moniter{
        width: 65%;
      }
    .SkillsItem .Item.Moniter{
        width: 80%;
        margin: 0 auto;
    }
    .project.Moniter {
        height: 3500px;
        width: 100%;

    }
    .project.Moniter .PJ2{
        width: 80%;
        height: 1600px;
        margin: 0 auto;
        
    }
    .project.Moniter .PJ2 img{

        border-bottom: 1px solid #000;
        border-right: 1px solid #000;


        
    }


    .project.Moniter .PJ2 .PJLeft{

    width:90%;
    height: 55%;
    margin-left: 5%;
 
    }

    .project.Moniter .PJ2 .PJRight{
        width: 80%;
        margin-top: 20px;
        color:red;
        height: 350px;
        font-size: 23px;
        margin-bottom: 45px;
        
    }
    .project.Moniter .PJ2 .PJOP{
        margin-left: 50px;
        float: left;
        position: relative;

        width: 60%;
 
        
    }    

    .project.Moniter .PJ1{
        width: 80%;
        height: 1600px;

        
    }
    .project.Moniter .PJ1 .PJLeft{

        margin-left: 5%;
        width:90%;
        height: 55%;
        
        
     
        }
    .project.Moniter .PJ1 img{
        width: 100%;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;


        
    }

    .project.Moniter .PJ1 .PJRight{
        width: 80%;
        margin-top: 20px;
        color:red;
        height: 350px;
        font-size: 23px;
        margin-bottom: 45px;
        
    }
    .project.Moniter .PJ1 .PJOP{
        margin-left: 50px;
        float: left;
        position: relative;

        width: 60%;
 
        
    }    
  }
  




/**/


/*미디어 쿼리 순서 모바일*/

@media screen and (max-width: 767px) and (min-width:415px){
    .ARCHIVING .TBox{
        width: 90%;
    }
    .header .Menu{
        display: none;
    }
    .AboutMe {
      height: 1100px !important;
      width: 100%;
    }
    .AboutItem{
      width: 100%;
    }
    .AboutItem ul {
      display: grid;
      grid-template-columns: repeat(1, auto) !important;
      grid-template-rows: repeat(6, auto);
      font-size: 28px !important;



    }
    .AboutItem ul li {
        margin-left: 10%;
    }
    .AboutItem ul li span {

      line-height: 0;
      position: relative;
      width: 100%;
      bottom: 35px;
      margin-left: 25%;
      color:gray
        
    }
    .AboutItem ul li .email {

        line-height: 0;
        position: relative;
        margin-left: 25%;
        bottom: 35px;
        color:gray;
        font-size: 18px;
          
      }
      .AboutItem ul li .phone {

        line-height: 0;
        position: relative;
        margin-left: 25%;
        bottom: 35px;
        color:gray;
        font-size: 21px;
          
      }
    .AboutItem ul li p {
        margin-left: 25%;
      position: relative;
      bottom: 62px;
      color:gray;
    }
    .AboutMe .Aboutfooter {
      position: relative;
      bottom: 120px;
      width: 85%;
    }


      .Skills.mobile {

        height: 1700px;
        width: 100%;
      }
      .SkillsItem.mobile{
        width: 100%;
        margin: 0 auto;
        color:#ff9f35;
        font-size: 20px;
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(400px,1fr));
        grid-template-rows: auto;
        grid-gap: 100px;

        margin-top: 80px;
      }

    .project {
        height: 1900px !important;


    }
    .project .PJ1{
        
        width: 80%;
        height: 780px;

    }
    .project .PJ1 .PJLeft{
        height: 50%;
        width: 80%;

        margin-bottom: 5%;
        margin-left: 10%;
 
    }
    .project .PJ1 img{
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;

    }
    .project .PJ1 .PJRight{
        width: 80%;
        height: 50px;
    }
    .project .PJ1 .MoP{
        display: none;

    }
    .project .PJ1 .DetailView{
        width: 50%;
        height:100%;
        

        
    }
    .project .PJ1 .PJOP{
        margin-top: 5%;
        margin-right: 15%;
        width: 80%;
    }

    /**/
    .project .PJ2{
        
        width: 80%;
        height: 780px;

    }
    .project .PJ2 .PJLeft{
        height: 50%;
        width: 80%;

        margin-bottom: 5%;
        margin-left: 10%;
 
    }
    .project .PJ2 img{
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;

    }
    .project .PJ2 .PJRight{
        width: 80%;
        height: 50px;
    }
    .project .PJ2 .MoP{
        display: none;

    }
    .project .PJ2 .DetailView{
        width: 50%;
        height:100%;
        

        
    }
    .project .PJ2 .PJOP{
        margin-top: 5%;
        margin-right: 15%;
        width: 80%;
    }
  }



/**/


.Container{
    max-width:100%; margin:0 auto;
}

/* // font-family: 'Black Han Sans', sans-serif; */
.header{
    font-family: 'Secular One', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    color:rgb(214, 162, 65);
    background-color: rgba(0,0,0,0);
}

.scrolled .header {
    background: white;
    border-bottom: 1px solid gray;
  }
/*색변환 스크롤 코드*/

.header .logo{
    float: left;
    margin-left: 10px;
    line-height: 40px;
}
.header .Menu{
    float: right;
    font-size: 20px;
    line-height: 45px;
}
.header .Menu{
    float: right;
}
.header li{
    float: right;
    list-style: none;
    margin-right: 20px;
}

.Intro{
    width: 100%;
    background-image: url("../public/images/Main.jpg");
    object-fit: cover;
    height: 550px;
    color:white;
    float: left;

}
.Intro .NameBox{
    height: 100px;
    margin-top: 120px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
.Intro .name{

    font-size: 65px;
    font-weight: normal;
}
.Intro .IntroText{
    position: relative;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
    font-size: 25px;
    bottom:80px;
}
.line{
    text-align: center;
    line-height: 150px;
    font-weight: bold;
    font-size: 27px;
        
}
.Intro .IntroText{
    text-align: center;
    margin: 80px;
    
}
.AboutMe{
    font-family: 'Secular One', sans-serif;
    float: left;
    width: 100%;
    height: 600px;
}
.AboutHeader{
    height: 100px;
}
.AboutMe h1{
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid #000;
    width: 500px;
    margin: 0 auto;
    padding-top:20px ;
}
.AboutItem{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;

}
.AboutItem ul{
    margin-left: 3%;
    list-style: none;
    font-size: 20px;
    margin-bottom: 60px;
    font-family: 'Black Han Sans', sans-serif; 
    font-size: 27px;
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

}
.AboutItem li{
    
    width: 250px;
}
.AboutItem li span{


}
.AboutItem li span p{

    text-align: center;


}
.AboutItem {
    color:black;


}
.TT{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    width: 100%;

}
.Aboutfooter{
    font-weight: bold;
    position: relative;
    bottom: 100px;
    margin: 0 auto;
    
    width: 800px;

}
.Aboutfooter p{
    height: 70px;
    line-height: 70px;
    background-color: #f0c9c9;
    text-align: center;
}
.Skills {
    font-family: 'Secular One', sans-serif;
    float: left;
    width: 100%;
    height: 1200px;
    background-color: #f9c51e;
  }
  



  .SkillsItem{
    width: 85%;
    color:#ff9f35;
    font-size: 20px;
    grid-gap: 100px;
    margin: 0 auto;
    margin-top: 5%;

    
  }
  .Item{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(400px,1fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 100px;
    margin: 0 auto;


  }

  .SkillsItem .chtml{
    
    object-fit: cover;
    width: 450px;
    height: 150px;    

}
.SkillsItem .fb{

    width: 450px;
    height: 100px;    

}
.SkillsItem .mySql{

    width: 450px;
    height: 120px;    

}
.SkillsItem .react{

    width: 450px;
    height: 100px;    

}
.SkillsItem .git{

    width: 500px;
    height: 270px;    

}



.Sname{
    width: 400px;
    margin-left: 30px;

    border-bottom: 1px solid gray;

}

.Skills .SkillName{
    
    font-size: 50px;    color: white;
    text-align: center;
}
.Skills .FrontEnd{
    box-shadow:  4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.8);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 30px;

}
.Skills .BackEnd{
    box-shadow:  4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.8);
    width: 500px;
    border-radius: 30px;
    height: 400px;
    background-color: white;

}
.Skills .VersionControl{
    box-shadow:  4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.8);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
}
.SkillName{
    border-bottom: 1px solid white;
    width: 500px;
    margin: 0 auto;
    padding-top:30px ;
}
.ARCHIVING{
    width: 100%;
    float: left;
    background-color: #222222;
    height: 600px;
}
.ARCHIVING .ARname{
    border-bottom: 1px solid white;
    width: 400px; 
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.ARbox h1{
    font-family: 'Secular One', sans-serif;
    text-align: initial;
    margin: 20px;
    padding-top: 20px;
}
.TBox{
    
    width: 30%;
    height: 350px;
    text-align: initial;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;
    border-radius: 30px;
    
}

.TBox p{
    font-family: 'Black Han Sans', sans-serif;
    margin: 30px;
    font-size: 20px;
}
.TBox li{
    margin: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    font-weight: normal;
}
.Gitlink{
    color: skyblue;
    border-bottom: 1px solid skyblue;
    width: 350px;
}
.project{
    
    float: left;
    width: 100%;
    height: 2000px;
    background-color: #1d809f;
}

  

.project .PJname{
    color:white;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    border-bottom: 1px solid white;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 25px;
}
.PJNAME{
    font-family: 'Black Han Sans', sans-serif;
    padding-top:30px;
    text-align: center;
    font-weight: normal;
    font-size: 55px;
    height: 30px;
}
.PJp{
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
    color: gray;

}
.PJ1{

    width:60%;
    margin: 0 auto;
    height: 40%;
    margin-top:80px;
    object-fit: cover;
    border-radius: 35px;
    background-color: white;
}
.PJ1 .PJLeft{

    float: left;
    width:40%;
    height:75%;
    margin-left: 8%;
    border: 1px solid #000;
}
.PJ1 img{
    width: 100%;
    height: 100%;
    border: 1px solid #000;


}
.PJ2{

    width:60%;
    margin: 0 auto;
    height: 800px;
    margin-top:80px;

    border-radius: 35px;
    background-color: white;
}
.PJ2 img{


    width:100%;
    height: 100%;
    border: 1px solid #000;
}
.PJ2 .PJLeft{
    float: left;
    width:40%;
    height:75%;
    margin-left: 8%;
    border: 1px solid #000;
}
.PJLeft{

    float: left;
}
.PJRight{
    float: right;
    text-align: left;
    margin-right:8%;
    font-size: 20px;
    height: 65%;
    width: 40%;
    font-family: 'SUIT';
    font-weight: bold;


}
.PJOP{
    text-align: left;
    border-top: 1px solid #000;
    float: right;
    width: 45%;
    margin-right: 4% ;

}
.PJOP ul{
    position: relative;
    font-family: 'Secular One', sans-serif;
    float: left;
    font-size: 18px;
    width: 100%;



}

.PJOP span{
    font-family: 'SUIT';
    margin-left: 15%;
    font-size: 18px;
    color:gray;
    text-align: right;


}.PJOP span p{
    font-family: 'SUIT';
    margin-left: 15%;
    line-height: 3px;
    font-size: 18px;
    color:gray
}
.PJOP ul li .TLine{


    color:gray;
}

input{
    width: 50%;
    height: 8%;
    font-size: 25px;
    font-family: 'Secular One', sans-serif;
    border: 0px;
    border-radius: 11px;
    color: white;
    background-color:#222222 ;
    cursor: pointer;
}

